@font-face {
  font-family: 'Righteous-Regular';
  src:  url('../static/fonts/Righteous-Regular.woff') format('woff'),
        url('../static/fonts/Righteous-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}